body {
    padding: 0;
    margin: 0;
    font-family: 'Avenir', sans-serif;
}

* {
    box-sizing: border-box;
}

#renderer {
    width: 100vw;
    height: 100vh;
    background: #000;
    overflow: hidden;
}

.ui {
    position: fixed;
    width: 236px;
    background: #fff;
    left: 16px;
    top: 16px;
    padding: 4px 16px 16px;
    background: rgba(255, 255, 255, 0.15);
    border: solid 1px rgba(255, 255, 255, 0.3);
    color: #ccc;
}

.ui > .opener {
    height: 22px;
    background: rgba(0, 0, 0, 0.2);
    font-size: 12px;
    margin-top: 4px;
    line-height: 22px;
    padding: 0 8px;
    text-align: center;
    cursor: pointer;
}

.ui > .opener:hover {
    background: rgba(0, 0, 0, 0.4);
}

.ui[state=open] {
    max-height: 600px;
}

.ui {
    overflow: hidden;
    max-height: 38px;
    transition: max-height .3s;
}

.ui > .separator {
    height: 1px;
    margin: 12px 0;
    background: rgba(255, 255, 255, 0.15);
}

.input {
    margin-top: 12px;
    width: 100%;
}

.input > .texts {
    font-size: 12px;
    font-weight: 600;
    display: flex;
}

.input > .texts > .name {
    flex: 1;
}

.input > .texts > .value {
    text-align: right;
    font-style: italic;
}

.input > input[type=range], .input > input[type=color] {
    width: 100%;
    margin: 0;
    padding: 0;
}

.command {
    margin-top: 12px;
    width: 100%;
    height: 32px;
    background: #741730;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.command:hover {
    background: #8f1c3b;
}




